@media (max-width: 991px) {
  .section {
    padding: 50px 0;
  }
  .section-padding {
    padding: 130px 0 50px 0;
  }
  .title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .title-small {
    margin-bottom: 15px;
    font-size: 23px;
  }
  .header-link {
    font-weight: 600;
    font-size: 20px;
  }

  .main-pages {
    .city.section {
      padding: 50px 0;
    }
    .motive.section,
    .how-we-work.section,
    .cars.section,
    .team.section {
      padding: 50px 0 0 0;
    }
    .demontazh.section {
      padding: 0 0 50px 0;
    }
  }

  /*header*/
  .header__desctop-nav.navbar-collapse {
    display: none;
  }

  .header__mobile-container {
    display: block;
    .header__mobile-nav {
      padding: 10px 0 100px 0;
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 100vh;
      top: 80px;
      left: 0;
      visibility: hidden;
      overflow: auto;
      border-top: 1px solid #333;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform .2s linear, opacity .2s linear, visibility .2s linear;
      &.is-open {
        visibility: visible;
        transform: scaleY(1);
      }
    }
  }
  

  /*head*/
  .header {
    .header__nav {
      padding: 15px 0;
    }
    .header__nav-list {
      margin-bottom: 20px;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #333;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform .2s linear;
      }
    }
    .header__phones-list {
      padding: 0;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .navbar-collapse.show {
    .header__nav-list {
      &::before{
        transform: scaleX(1);
      }
    }
  }
  .dropdown-li {
    .arrow {
      top: 15px;
      right: 0;
    }
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .dropdown-menu[data-bs-popper] {
    left: -40px;
  }

  /*hero*/
  .hero.section {
    padding: 130px 0 50px 0;
    .hero__heading {
      margin-bottom: 40px;
    }
    .hero__title {
      margin-bottom: 0;
    }
  }

  /*common-hero*/
  .common-hero.section {
    padding: 130px 0 50px 0;
  }

  /*price*/
  .price.section {
    padding: 0 0 50px 0;
  }

  /*motive*/
  .motive.section {
    padding: 50px 0 0 0;
  }
  .motive.section .motive__chapter .motive__chapter-title,
  .motive.motive-mobile .motive__chapter .motive__chapter-title {
    margin-bottom: 5px;
    font-size: 22px;
  }
  .motive.section .motive__chapter .motive__chapter-descr {
    font-size: 16px;
  }

  /*reviews*/
  .reviews.section {
    padding: 50px 0 0 0;
  }
  .reviews.section .reviews__wrapper .reviews-swiper .reviews-swiper__slide .reviews-text {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .reviews.section .reviews__wrapper .reviews-swiper .reviews-swiper__slide {
    padding: 30px 0 60px 0;
  }
  .reviews.section .reviews__wrapper .reviews-swiper .swiper-horizontal > .swiper-pagination-bullets, .reviews.section .reviews__wrapper .reviews-swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .reviews.section .reviews__wrapper .reviews-swiper .swiper-pagination-custom, .reviews.section .reviews__wrapper .reviews-swiper .swiper-pagination-fraction {
    bottom: 20px;
  }
  @media (max-width: 880px) {
    .reviews.section .reviews__wrapper .reviews-swiper-btn {
      display: none;
    }
  }

  /*portfolio*/
  .portfolio .portfolio-bg-bottom {
    bottom: -25px;
    height: 30px;
  }

  /*services*/
  .services.section {
    padding: 50px 0 10px 0;
  }
  .services .services-bg-bottom {
    top: -25px;
    height: 30px;
  }

  ._service-card ._service-card-container ._service-card-btn {
    left: 10px;
  }
  ._service-card ._service-card-container ._service-card-btn-more {
    right: 10px;
  }

  /*how-we-work*/
  .how-we-work.section {
    padding: 0 0 36px 0;
  }
  .how-we-work.section .how-we-work__card {
    margin-bottom: 24px;
  }

  /*video-reviews*/
  .video-reviews.section .video-reviews__descr {
    margin-bottom: 30px;
  }

  /*area*/
  .area .area__descr {
    margin-bottom: 20px;
  }

  /*team*/
  .team.section {
    padding: 50px 0;
  }

  .team.section .team__descr {
    margin-bottom: 20px;
}

  /*stats*/
  .stats.section {
    padding: 50px 0;
  }
  .stats.section .stats__descr {
    margin-bottom: 20px;
  }

  /*address*/
  .address .address-list .address-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .address .address-list .address-list__item .address-title, .address .address-list .address-list__item .email-title {
    font-size: 20px;
  }
  .address .address-list .address-list__item p {
    font-size: 20px;
  }
  .address .phone-list .phone-list__item:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  /*cars*/
  .cars__card {
    margin-bottom: 50px;
  }

  .main-pages {
    .team.section {
      padding: 0;
    }
  }


  /*services*/
  ._service-card ._service-card-container ._service-card-btn {
    left: 30px;
  }
  ._service-card ._service-card-container ._service-card-btn-more {
    right: 30px;
  }

  /*city*/
  .city.section {
    padding: 50px 0;
  }

  /*address*/
  .address .map {
    margin-bottom: 10px;
  }
  .address .address__content {
    align-items: center;
  }
  .address .phone-list {
    align-items: center;
  }
  .address .phone-list .phone-list__item .phone-list__item-btn {
    width: 250px;
    height: 50px;
  }

  /*footer*/
  .footer .footer__content {
    justify-content: center;
  }
  .footer .footer__logo,
  .footer .footer__list {
    margin-bottom: 10px;
  }
  .footer .footer__list-phones .footer__list-phones-item:not(:last-child) {
    margin-bottom: 0;
  }
  .footer__list-phones {
    .footer__list-phones-item-link {
      font-size: 15px;
    }
  }
}

@media (max-width: 576px) {
  .section {
    padding: 30px 0;
  }
  .section-padding {
    padding: 100px 0 30px 0;
  }
  .title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .title-small {
    font-size: 18px;
  }
  .heading-small {
    font-weight: 400;
    font-size: 22px;
  }

  .contrast {
    display: block;
  }

  ._form {
    box-shadow: none;
    ._form__clock {
      padding: 0;
    }
  }
  ._form ._form__clock ._form__clock-container ._form__clock-container-part {
    max-width: 55px;
  }
  ._form ._form__clock ._form__clock-container ._form__clock-numbers, ._form ._form__clock ._form__clock-container ._form__clock-separator {
    font-weight: 700;
    font-size: 45px;
  }

  .main-pages {
    .city.section {
      padding: 30px 0;
    }
    .motive.section,
    .how-we-work.section,
    .cars.section,
    .team.section {
      padding: 30px 0 0 0;
    }
    .demontazh.section {
      padding: 0 0 30px 0;
    }
  }

  /*hero*/
  .hero.section {
    padding: 110px 0 30px 0;
  }
  .common-hero.section {
    padding: 110px 0 30px 0;
  }
  .hero.section .hero__title {
    height: 160px;
  }
  .hero.section .hero__heading {
    margin-bottom: 20px;
  }
  .hero{
    .counter {
      display: none;
    }
    .offer {
      display: none;
    }
  }

  /*price*/
  .price.section {
    padding: 30px 0;
    .price__title {
      margin-bottom: 35px;
      font-size: 15px;
    }
  }

  /*motive*/
  .motive.section {
    display: none;
  }
  .motive.section.motive-mobile {
    display: block;
  }
  .main-pages {
    .motive.section {
      display: block;
      .motive__chapter {
        margin-bottom: 20px;
        img {
        width: 100px;
        height: 100px;
        }
        .motive__chapter-title {
          font-size: 18px;
        }
        .motive__chapter-descr {
          font-size: 14px;
        }
      }
    }
  }
  .motive.section {
    padding: 30px 0 0 0;
  }
  .motive.motive-mobile .motive__chapter img {
    width: 100px;
    height: 100px;
  }
  .motive.motive-mobile .motive__chapter .motive__chapter-title {
    font-size: 18px;
  }
  .motive.motive-mobile .motive__chapter .motive__chapter-descr {
    font-size: 14px;
  }
  .motive.motive-mobile .motive__chapter {
    margin-bottom: 20px;
  }

  /*portfolio*/
  .portfolio .portfolio__sub-title {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .portfolio .case-blanket {
    padding: 0px 20px;
  }
  .portfolio .portfolio__more-case-btn {
    margin: 0 auto;
  }
  .portfolio .portfolio-bg-bottom {
    bottom: -15px;
    height: 20px;
  }

  .portfolio .portfolio__case {
    height: 300px;
  }

  .portfolio .case-blanket .case-blanket__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .portfolio .case-blanket .case-blanket__descr {
    margin-bottom: 10px;
    font-size: 16px;
  }

  /*discount*/
  .discount.section .discount__descr {
    margin-bottom: 10px;
    font-size: 16px;
  }

  /*services*/
  .services.section {
    padding: 30px 0 20px 0;
  }
  .services .services-bg-bottom {
    top: -15px;
    height: 20px;
  }
  .services.section .services__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }
  ._service-card ._service-card-container {
    min-height: 300px;
  }
  ._service-card ._service-card-container ._service-card-btn {
    left: 10px;
  }
  ._service-card ._service-card-container ._service-card-btn-more {
    right: 10px;
  }
  ._service-card ._service-card-container ._service-card-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  ._service-card ._service-card-container ._service-card-price {
    margin-bottom: 10px;
    font-size: 22px;
  }

  /*how-we-work*/
  .how-we-work.section {
    padding: 0 0 6px 0;
  }
  .how-we-work.section .how-we-work__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .how-we-work.section .how-we-work__card-container .how-we-work__card-number {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
  }
  .how-we-work.section .how-we-work__card-container .how-we-work__card-img {
    height: 200px;
  }
  .how-we-work.section .how-we-work__card-container .how-we-work__card-content {
    padding: 15px 15px;
  }
  .how-we-work.section .how-we-work__card-container .how-we-work__card-content .how-we-work__card-descr {
    font-size: 15px;
  }

  /*cars*/
  .cars.section {
    padding: 0;
  }
  .cars__card {
    margin-bottom: 30px;
  }
  .cars.section .cars__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .cars.section .cars__swiper-small {
    margin-bottom: 10px;
  }

  .cars.section .cars__swiper-big .cars__swiper-big-btn {
    width: 80px;
  }

  .cars.section .cars__card-descr .car-name {
    font-size: 18px;
  }
  .cars.section .cars__card-descr .car-text {
    font-size: 15px;
  }

  .cars.section .cars__card-descr .car-text, 
  .cars.section .cars__card-descr .car-specification, 
  .cars.section .cars__card-descr .car-name {
    margin-bottom: 15px;
  }

  /*team*/
  .main-pages .team.section {
    padding: 0;
  }

  /*reviews*/
  .reviews.section {
    padding: 10px 0 30px 0;
  }
  .reviews.section .reviews__wrapper .reviews-swiper .reviews-swiper__slide .reviews-text {
    font-size: 15px;
  }

  /*video-reviews*/
  .video-reviews.section {
    padding: 0 0 10px 0;
  }
  .video-reviews.section .video-reviews__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }

  /*area*/
  .area .area__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }

  /*team*/
  .team.section {
    padding: 30px 0;
  }
  .team.section .team__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .team.section .person-container {
    height: 300px;
  }

  /*stats*/
  .stats.section {
    padding: 30px 0;
  }
  .stats.section .stats__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .stats.section .stats__swiper {
    margin-bottom: 30px;
  }
  .stats.section .stats__swiper .stats__swiper-slide .stats-slide-heading {
    margin-bottom: 10px;
  }
  .stats.section .stats__swiper .stats__swiper-slide .stats-slide-descr {
    font-size: 14px;
  }

  /*city*/
  .city.section {
    padding: 30px 0;
  }
  .city.section .city__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .city.section .city__swiper-big .city__swiper-big-btn {
    width: 80px;
  }

  /*address*/
  .address .address-list .address-list__item{
    flex-wrap: wrap;
  }
  .address .address-list .address-list__item .address-title, .address .address-list .address-list__item .email-title {
    font-size: 16px;
  }
  .address .address-list .address-list__item p {
    font-size: 16px;
  }
  .address .address-list {
    margin-bottom: 0;
  }
  .address .phone-link {
    font-size: 16px;
  }
  .address .phone-list .phone-list__item .phone-list__item-descr {
    font-size: 14px;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*modal*/
  .thanks-modal .thanks-modal__body .thanks-modal__title {
    font-size: 20px;
  }

  /*form*/
  ._form ._form__btn {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  ._form ._form__clock {
    margin: 20px 0;
  }
  ._form ._form__clock ._form__clock-container ._form__clock-descr p {
    font-size: 12px;
  }
  ._form ._form__clock ._form__clock-container ._form__clock-container-part {
    max-width: 55px;
  }
  ._form ._form__clock ._form__clock-container ._form__clock-numbers, ._form ._form__clock ._form__clock-container ._form__clock-separator {
    font-weight: 700;
    font-size: 45px;
  }

  .services.section .services__descr {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 730px;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
  }

  /*cars*/
  .cars.section .cars__swiper-big .cars__swiper-big-btn {
    width: 50px;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  /*_service-card*/
  ._service-card ._service-card-container ._service-card-btn, 
  ._service-card ._service-card-container ._service-card-btn-more {
    height: 30px;
    bottom: -15px;
    font-size: 12px;
  }
  ._service-card ._service-card-container ._service-card-btn {
    max-width: 160px;
    left: 5px;
  }
  ._service-card ._service-card-container ._service-card-btn-more {
    max-width: 130px;
    right: 5px;
  }
  .services {
    ._service-card ._service-card-container ._service-card-btn {
      left: calc(50% - 80px);
    }
  }

  /*404*/
  .not-found {
    .not-found__title {
      font-size: 100px;
    }
    .not-found__btn {
      font-weight: 400;
      font-size: 13px;
    }
  }

  /*city*/
  .city.section .city__swiper-big .city__swiper-big-btn {
    width: 50px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media (max-width: 360px) {
  .contrast {
    .contrast__slider {
      .contrast__descr {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: normal;
      }
      .before__descr {
        left: 6px;
      }
      .after__descr {
        right: 6px;
      }
    }
  }

  /* team */
  .team.section .person-container .person-name {
    font-weight: 600;
    font-size: 20px;
  }
  ._form ._form__btn {
    padding: 5px;
  }
}