@media (max-width: 991px) {
  .section {
    padding: 50px 0;
  }
  .title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .title-small {
    margin-bottom: 15px;
    font-size: 23px;
  }
  .header-link {
    font-weight: 600;
    font-size: 20px;
  }

  /*head*/
  .header {
    .header__nav {
      padding: 15px 0;
    }
    .header__nav-list {
      margin-bottom: 20px;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #333;
        transform-origin: center;
        transform: scaleX(0);
        transition: transform .2s linear;
      }
    }
    .header__phones-list {
      padding: 0;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .navbar-collapse.show {
    .header__nav-list {
      &::before{
        transform: scaleX(1);
      }
    }
  }

  /*hero*/
  .hero.section {
    padding: 130px 0 50px 0;
    .hero__heading {
      margin-bottom: 40px;
    }
    .hero__title {
      margin-bottom: 0;
    }
  }

  /*motive*/
  .motive.section {
    padding: 50px 0 0 0;
  }
  .motive .motive__chapter .motive__chapter-title {
    margin-bottom: 5px;
    font-size: 22px;
  }
  .motive .motive__chapter .motive__chapter-descr {
    font-size: 16px;
  }

  /*reviews*/
  .reviews.section {
    padding: 0 0 50px 0;
  }
  .reviews.section .reviews__wrapper .reviews-swiper .reviews-swiper__slide .reviews-text {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .reviews.section .reviews__wrapper .reviews-swiper .reviews-swiper__slide {
    padding: 30px 0 60px 0;
  }
  .reviews.section .reviews__wrapper .reviews-swiper .swiper-horizontal > .swiper-pagination-bullets, .reviews.section .reviews__wrapper .reviews-swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .reviews.section .reviews__wrapper .reviews-swiper .swiper-pagination-custom, .reviews.section .reviews__wrapper .reviews-swiper .swiper-pagination-fraction {
    bottom: 20px;
  }
  @media (max-width: 880px) {
    .reviews.section .reviews__wrapper .reviews-swiper-btn {
      display: none;
    }
  }

  /*portfolio*/
  .portfolio .portfolio-bg-bottom {
    bottom: -25px;
    height: 30px;
  }

  /*services*/
  .services.section {
    padding: 50px 0 10px 0;
  }
  .services .services-bg-bottom {
    top: -25px;
    height: 30px;
  }

  /*how-we-work*/
  .how-we-work.section {
    padding: 0 0 36px 0;
  }
  .how-we-work.section .how-we-work__card {
    margin-bottom: 24px;
  }

  /*video-reviews*/
  .video-reviews.section .video-reviews__descr {
    margin-bottom: 30px;
  }

  /*area*/
  .area .area__descr {
    margin-bottom: 20px;
  }

  /*address*/
  .address .address-list .address-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .address .address-list .address-list__item .address-title, .address .address-list .address-list__item .email-title {
    font-size: 20px;
  }
  .address .address-list .address-list__item p {
    font-size: 20px;
  }
  .address .phone-list .phone-list__item:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  /*address*/
  .address .map {
    margin-bottom: 10px;
  }
  .address .address__content {
    align-items: center;
  }
  .address .phone-list {
    align-items: center;
  }
  .address .phone-list .phone-list__item .phone-list__item-btn {
    width: 250px;
    height: 50px;
  }

  /*footer*/
  .footer .footer__content {
    justify-content: center;
  }
  .footer .footer__logo,
  .footer .footer__list {
    margin-bottom: 10px;
  }
  .footer .footer__list-phones .footer__list-phones-item:not(:last-child) {
    margin-bottom: 0;
  }
  .footer__list-phones {
    .footer__list-phones-item-link {
      font-size: 15px;
    }
  }
}

@media (max-width: 576px) {
  .section {
    padding: 30px 0;
  }
  .title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .title-small {
    font-size: 18px;
  }
  .heading-small {
    font-weight: 400;
    font-size: 22px;
  }

  /*hero*/
  .hero.section {
    padding: 110px 0 30px 0;
  }
  .hero.section .hero__title {
    height: 160px;
  }
  .hero.section .hero__heading {
    margin-bottom: 20px;
  }

  /*motive*/
  .motive.section {
    padding: 30px 0 0 0;
  }
  .motive .motive__chapter img {
    width: 150px;
    height: 150px;
  }
  .motive .motive__chapter .motive__chapter-title {
    font-size: 18px;
  }
  .motive .motive__chapter .motive__chapter-descr {
    font-size: 14px;
  }
  .motive .motive__chapter {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 30px;
    }
  }

  /*portfolio*/
  .portfolio .portfolio__sub-title {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .portfolio .case-blanket {
    padding: 0px 20px;
  }
  .portfolio .portfolio__more-case-btn {
    margin: 0 auto;
  }
  .portfolio .portfolio-bg-bottom {
    bottom: -15px;
    height: 20px;
  }

  /*discount*/
  .discount.section .discount__descr {
    margin-bottom: 10px;
    font-size: 16px;
  }

  /*portfolio*/
  .portfolio .portfolio__case {
    height: 300px;
  }

  .portfolio .case-blanket .case-blanket__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .portfolio .case-blanket .case-blanket__descr {
    margin-bottom: 10px;
    font-size: 16px;
  }

  /*services*/
  .services.section {
    padding: 30px 0 40px 0;
  }
  .services .services-bg-bottom {
    top: -15px;
    height: 20px;
  }
  .services .services__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .services .services__card .services__card-container {
    padding: 100px 15px 30px 15px;
  }
  .services .services__card .services__card-container .services__card-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .services .services__card .services__card-container .services__card-price {
    margin-bottom: 10px;
    font-size: 22px;
  }

  /*how-we-work*/
  .how-we-work.section {
    padding: 0 0 6px 0;
  }
  .how-we-work.section .how-we-work__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .how-we-work.section .how-we-work__card-container .how-we-work__card-number {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
  }
  .how-we-work.section .how-we-work__card-container .how-we-work__card-img {
    height: 200px;
  }
  .how-we-work.section .how-we-work__card-container .how-we-work__card-content {
    padding: 15px 15px;
  }
  .how-we-work.section .how-we-work__card-container .how-we-work__card-content .how-we-work__card-descr {
    font-size: 15px;
  }

  /*reviews*/
  .reviews.section {
    padding: 0 0 30px 0;
  }
  .reviews.section .reviews__wrapper .reviews-swiper .reviews-swiper__slide .reviews-text {
    font-size: 15px;
  }

  /*video-reviews*/
  .video-reviews.section {
    padding: 0 0 10px 0;
  }
  .video-reviews.section .video-reviews__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }

  /*area*/
  .area .area__descr {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .area .area__bg-img {
    width: 50px;
    height: 50px;
  }

  /*address*/
  .address .address-list .address-list__item{
    flex-wrap: wrap;
  }
  .address .address-list .address-list__item .address-title, .address .address-list .address-list__item .email-title {
    font-size: 16px;
  }
  .address .address-list .address-list__item p {
    font-size: 16px;
  }
  .address .address-list {
    margin-bottom: 0;
  }
  .address .phone-link {
    font-size: 16px;
  }
  .address .phone-list .phone-list__item .phone-list__item-descr {
    font-size: 14px;
  }
}