.area {
  background-color: $--area_bg_color;
  .area__descr {
    margin: 0 auto;
    margin-bottom: 40px;
    @include font-settings (italic, 600, 18px, normal,  $--text_color);
    opacity: 0.8;
  }
  .area__bg-map {
    max-width: 500px;
    width: 100%;
    object-fit: cover;
  }
}