/* global settings */
.section {
  padding: 70px 0;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
}

.section-padding {
  padding: 180px 0 70px 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.button {
  background-color: transparent;
  cursor: pointer;
}

.title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  @include font-settings (normal, 700, 36px, normal,  $--hero_text_color);
}

.title-small {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  @include font-settings (normal, 600, 32px, normal,  $--text_color);
}

.sub-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  @include font-settings (normal, 600, 22px, normal,  $--text_color);
}

.heading {
  @include font-settings (normal, 400, 32px, normal,  $--text_color);
}

.heading-small {
  @include font-settings (normal, 600, 32px, normal,  $--text_color);
}

.descriptions,
.descriptions-list {
  @include font-settings (normal, 400, 18px, normal,  $--text_color);
}
.descriptions-list {
  list-style-type: circle;
}
/*------------------------------*/
.header__mobile-container {
  display: none;
}
/*------------------------------*/

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170px;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: $--primary_btn_bg;
  box-shadow: 0px 11px 5px -7px rgb(0 0 0 / 35%);
  @include font-settings (normal, 600, 16px, normal,  $--white_color);
  transition: background-color .2s linear, transform .2s linear;
  &:hover,
  &:focus-visible {
    background-color: rgba($--primary_btn_bg, .9);
    transform: translateY(-2px);
  }
  &:active {
    background-color: rgba($--primary_btn_bg, 1);
    transform: translateY(0);
  }
}

.header-link {
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  @include font-settings (normal, 600, 15px, normal, $--text_color);
}

.header-phone-link,
.phone-link {
  white-space: nowrap;
  @include font-settings (normal, 700, 18px, normal, $--text_color);
}

.email-link {
  @include font-settings (normal, 400, 20px, normal,  $--text_color);
}

/*------------------------------*/

.offer {
  display: block;
  margin-bottom: 10px;
  color: $--hero_text_color;
  font-weight: 700;
}

.counter {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  svg {
    margin: 10px 0;
    .digits {
      fill: $--text_color;
    }
    .labels{
      fill: $--hero_text_color;
    }
    .digits,
    .labels {
      text-anchor: middle;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .counter__form-head {
    padding: 10px 20px;
    border-radius: 20px 20px 0 0;
    background: rgb(223,89,89);
    background: -moz-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#df5959",endColorstr="#fc0000",GradientType=1);
    .counter__title {
      @include font-settings(normal, 400, 16px, normal, $--counter_header_text);
      text-align: center;
    }
  }
  .counter__form-footer,
  .counter__form-body {
    padding: 10px 15px;
    background-color: $--counter_form_body_bg;
  }
  .counter__form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    .counter__form-footer-descr,
    .counter__form-footer-link {
      @include font-settings(normal, 400, 12px, normal, $--text_color);
    }
    .counter__form-footer-link {
      text-decoration: underline;
      transition: color .2s linear;
      &:hover,
      &:focus-visible {
        color: #ff0000;
      }
      &:active {
        color: $--text_color;
      }
    }
  }
}

#typed-strings {
  display: none;
}

/*------------------------------*/

.link {
  padding: 2px 5px;
  position: relative;
  z-index: 1;
  transition: color .2s linear;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: $--black_color;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: opacity .2s linear, visibility .2s linear;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $--primary_btn_bg;
    transform-origin: left;
    transform: scaleX(0);
    opacity: 0;
    transition: opacity .3s linear, transform .2s linear;
  }
  &:hover:not(:focus-visible) {
    color: $--primary_btn_bg;
  }
  &:hover:not(:focus-visible)::before {
    transform: scaleX(1);
    opacity: .7;
  }
  &:hover:not(:focus-visible) .arrow{
    border-color: $--primary_btn_bg;
  }
  &:hover:not(:focus-visible)::before .arrow{
    border-color: $--primary_btn_bg;
  }
  &:focus-visible:after{
    opacity: 1;
    visibility: visible;
  }
  &:focus-visible{
    color: $--white_color;
  }
  &:focus-visible .arrow{
    border-color: transparent;
  }
  &:active:not(:focus-visible) {
    color: $--primary_btn_bg;
  }
  &:active:not(:focus-visible)::before {
    transform: scaleX(1);
    opacity: .7;
  }
}
.link.dropdown-toggle {
  &::before {
    width: calc(100% + 13px);
  }
}
.link.show {
  color: $--primary_btn_bg;
  &::before {
    transform: scaleX(1);
    opacity: .7;
  }
}
.link.show .arrow {
  transform: rotate(135deg) translate(2px, -2px);
  border-color: $--primary_btn_bg;
}

/*------------------------------*/

.logo {
  transition: box-shadow .2 linear;
  &:focus-visible {
    -webkit-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  }
}

/*------------------------------*/

.navbar-toggler {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 40px;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 0;
  .burger-line {
    width: 100%;
    height: 6px;
    background-color: #333;
    border-radius: 5px;
    transform-origin: center;
    transition: transform .2s linear, background-color .2s linear;
  }
}
.navbar-toggler.is-open {
  .burger-line {
    background-color: $--primary_btn_bg;
  }
  .burger-second-line {
    transform: scaleX(0);
  }
  .burger-first-line {
    transform: translateY(12px) rotate(45deg);
  }
  .burger-third-line {
    transform: translateY(-12px) rotate(-45deg);
  }
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

/*------------------------------*/

.modal-header .btn-close {
  background-size: 15px 15px;
  transition: opacity .2s linear;
  &:focus,
  &:focus-visible {
    box-shadow: none;
    opacity: 1;
  }
}

/*------------------------------*/

._form {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border: 2px solid #1666f1;
  border-radius: 10px;
  box-shadow: 0 17px 50px 0px rgb(0 0 0 / 20%);
  ._form__input-container {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    textarea{
      resize: none;
    }
    input[type="radio"]{
      padding: 0;
      border-radius: 100%;
      width: 14px;
      height: 14px;
    }
    select {
      cursor: pointer;
    }
    input,
    select,
    textarea {
      padding: 4px 10px;
      border: 1px solid $--counter_input_border_color;
      border-radius: 5px;
      @include font-settings(normal, 400, 14px, normal, $--text_color);
      transition: color .2s linear, box-shadow .2s linear, border-color .2s linear;
      &.is-invalid {
        border-color:$--counter_input_focus_color;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(223 89 89 / 60%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(223 89 89 / 60%);
      }
      &:hover {
        border-color:$--counter_input_focus_color;
      }
      &:focus-visible {
        border-color:$--counter_input_focus_color;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
      }
    }
    &.req label{
      &::after {
        content: '*';
        color: #ff0000;
      }
    }
    label {
      margin-left: 5px;
      @include font-settings(normal, 600, 16px, normal, $--text_color);
    }
    ._form-label {
      margin-left: 5px;
      margin-bottom: 5px;
      @include font-settings(normal, 600, 16px, normal, $--text_color);

    }
    .just-validate-error-label {
      position: absolute;
      bottom: -17px;
      left: 5px;
      @include font-settings(normal, 400, 12px, normal, $--error_color);
    }
  }
  ._form__input-container._phone-container {
    margin-bottom: 25px;
  }
  ._form__select{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='307.053px' height='307.053px' viewBox='0 0 307.053 307.053' style='enable-background:new 0 0 307.053 307.053;' xml:space='preserve'%3E%3Cg%3E%3Cg id='_x34_86._Down'%3E%3Cg%3E%3Cpath d='M302.445,80.796l-11.101-11.103c-6.123-6.131-16.074-6.131-22.209,0L153.67,183.707L37.907,67.959 c-6.134-6.13-16.08-6.13-22.209,0L4.597,79.06c-6.129,6.133-6.129,16.067,0,22.201l137.83,137.829 c6.129,6.136,16.067,6.136,22.203,0l137.815-136.096C308.589,96.864,308.589,86.926,302.445,80.796z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 14px;
    transition: background-image .2s linear;
    &.open{
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='307.054px' height='307.054px' viewBox='0 0 307.054 307.054' style='enable-background:new 0 0 307.054 307.054;' xml:space='preserve'%3E%3Cg%3E%3Cg id='_x34_85._Up'%3E%3Cg%3E%3Cpath d='M302.445,205.788L164.63,67.959c-6.136-6.13-16.074-6.13-22.203,0L4.597,205.788c-6.129,6.132-6.129,16.069,0,22.201 l11.101,11.101c6.129,6.136,16.076,6.136,22.209,0l115.62-115.626L269.151,239.09c6.128,6.136,16.07,6.136,22.201,0 l11.101-11.101C308.589,221.85,308.589,211.92,302.445,205.788z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }
  ._file-container{
    margin-bottom: 10px;
    flex-direction: column;
    input {
      width: 100%;
      border-radius: 5px;
    }
    &.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
      margin-left: -1px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  ._tools-container._form__input-container {
    label {
      margin-left: 0;
      margin-bottom: 7px;
    }
    input:not(input[type="radio"]) {
      border: none;
    }
    input {
      padding: 0;
    }
    .form-check {
      margin-bottom: 0;
      max-width: max-content;
      cursor: pointer;
      .form-check-input {
        cursor: pointer;
        &:checked + .form-check-label {
          color: #66afe9;
        }
        &:hover + .form-check-label{
          color: #66afe9;
        }
        &:focus-visible + .form-check-label{
          color: #66afe9;
        }
      }
      .form-check-label {
        margin-bottom: 0;
        cursor: pointer;
        user-select: none;
        transition: color .2s linear;
      }
    }
  }
  ._phone-container {
    margin-bottom: 25px;
  }
  ._form__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
    border-radius: 5px;
    background: rgb(223,89,89);
    background: -moz-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
    @include font-settings(normal, 400, 18px, normal, $--counter_btn_text);
    transition: background-color .2s linear, transform .2s linear;
    &.disable{
      cursor: not-allowed;
    }
    &:hover:not(.disable),
    &:focus-visible:not(.disable){
      transform: translateY(-2px);
      background: rgb(223,89,89);
      background: -moz-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(70,0,0,1) 100%);
      background: -webkit-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(70,0,0,1) 100%);
      background: linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(70,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#df5959",endColorstr="#460000",GradientType=1);
    }
    &:active:not(.disable) {
      background: rgb(223,89,89);
      background: -moz-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
      background: -webkit-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
      background: linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
      transform: translateY(0px);
    }
  }
  ._form__clock {
    padding: 0 50px;
    margin: 20px 0 30px 0;
    ._form__clock-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      ._form__clock-numbers,
      ._form__clock-separator {
        @include font-settings (normal, 900, 64px, normal, #1666f1);
      }
      ._form__clock-descr {
        position: absolute;
        display: flex;
        top: -25px;
        right: 0;
        p {
          max-width: 62px;
          @include font-settings (italic, 400, 14px, normal, $--text_color);
        }
      }
      ._form__clock-container-part {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 75px;
        width: 100%;
        p {
          @include font-settings (normal, 400, 14px, normal, $--text_color);
        }
      }
    }
  }
}
.counter-form._form {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.modal-content {
  ._form {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    ._form__clock {
      display: none;
    }
  }
}

/*------------------------------*/

.check {
  max-width: max-content;
  align-items: center;
  cursor: pointer;
  &:hover .check__text {
    color: $--check_bg_color;
  }
  &:hover .check__box{
    border-color: $--check_bg_color;
  }
  .check__box {
    margin-right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $--border_color;
    border-radius: 2px;
    transition: border-color .2s linear, box-shadow .2s linear;
  }
  .check__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $--text_color;
    transition: color .2s linear;
  }
  .check__input {
    position: absolute;
    appearance: none;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .check__box{
      background-color: $--check_bg_color;
      background-image: url(../img/check-big.svg);
      background-repeat: no-repeat;
      background-position: 1px 2px;
      border-color: $--check_bg_color;
    }
    &:focus-visible + .check__box{
      border-color: $--check_bg_color;
      -webkit-box-shadow: 0px 0px 8px 0px rgba(102, 175, 233, 1);
      -moz-box-shadow: 0px 0px 8px 0px rgba(102, 175, 233, 1);
      box-shadow: 0px 0px 8px 0px rgba(102, 175, 233, 1);
    }
    &:focus-visible + .check__text{
      color: $--check_bg_color;
    }
  }
}

/*------------------------------*/

.dropdown-li {
  position: relative;
  .arrow {
    position: absolute;
    display: block;
    top: 7px;
    right: -5px;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid $--text_color;
    border-left: 2px solid $--text_color;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform .2s linear, border-color .2s linear;
  }
  .dropdown-toggle {
    &::after {
      content: '';
      margin-left: 0;
      vertical-align: 0;
      border: none;
    }
  }
  .dropdown-item {
    @include font-settings (normal, 400, 16px, normal,  $--text_color);
    transition: color .2s linear, background-color .2s linear;
  }
  .dropdown-item.active, .dropdown-item:active {
    color: $--white_color;
    text-decoration: none;
    background-color: #c2c2c2;
  }
}
.dropdown-menu {
  li {
    position: relative;
  }
}

/*------------------------------*/

._service-card {
  border-radius: 3px;
  margin-bottom: 44px;
  ._service-card-container {
    padding: 20px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    height: 100%;
    position: relative;
    border-radius: inherit;
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
      filter: brightness(50%);
      -moz-filter: brightness(50%);
      -ms-filter: brightness(50%);
      -o-filter: brightness(50%);
      -webkit-filter: brightness(50%);
      z-index: -1;
    }
    ._service-card-title {
      margin-top: auto;
      margin-bottom: 15px;
      text-transform: uppercase;
      @include font-settings (normal, 600, 24px, normal, $--white_color);
    }
    ._service-card-descr {
      margin: 15px auto;
      max-width: 340px;
      @include font-settings (normal, 400, 16px, normal, $--white_color);
    }
    ._service-card-price {
      margin-bottom: 15px;
      @include font-settings (normal, 600, 28px, normal, $--white_color);
    }
    ._service-card-btn,
    ._service-card-btn-more {
      position: absolute;
      bottom: -20px;
      @include font-settings (normal, 400, 13px, normal, $--white_color);
    }
    ._service-card-btn {
      max-width: 180px;
      left: 15px;
    }
    ._service-card-btn-more {
      max-width: 150px;
      right: 15px;
    }
  }
}

.contrast {
  display: none;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 480px;
  width: 100%;
  .contrast__slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
    .change {
      position: absolute;
      top: 0;
      left: 50%;
      width: 3px;
      height: 100%;
      background-color: #f00;
      cursor: col-resize;
      z-index: 10;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        border: 3px solid #f00;
        width: 44px;
        height: 44px;
        background-color: #fff;
        cursor: pointer;
        transform: translate(-50%, -50%);
      }
      .arrow-left,
      .arrow-right {
        position: absolute;
        border-style: solid;
        z-index: 10;
      }
      .arrow-left {
        top: calc(50% - 5px);
        left: -10px;
        border-width: 5px 8px 5px 0;
        border-color: transparent #FF0000 transparent transparent;
      }
      .arrow-right {
        top: calc(50% - 5px);
        left: 5px;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent #FF0000;
      }
    }
    .before {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 50%;
      height: 100%;
      z-index: 2;
    }
    .contrast__descr {
      padding: 7px 14px;
      position: absolute;
      top: calc(50% - 18px);
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      @include font-settings (normal, 600, 16px, normal,  $--white_color);
    }
    .before__descr {
      left: 6px;
    }
    .after__descr {
      right: 6px;
    }
  }
}
/*------------------------------*/

.overflow--lock {
  overflow: hidden;
}

/*------------------------------*/

.messenger {
  display: none;
}

/*------------------------------*/
/* корректировка падингов для страниц с другой структурой, отличающейся от index */
.main-pages {
  .city.section,
  .how-we-work.section {
    padding: 70px 0;
  }
  .motive.section,
  .cars.section,
  .team.section {
    padding: 70px 0 0 0;
  }
  .demontazh.section,
  .container.section,
  .gruzchiki.section,
  .gruzoperevozki.section,
  .vivoz-bitovogo-musora.section,
  .vivoz-dereva.section, 
  .vivoz-mebeli.section, 
  .vivoz-stroitelnogo-musora.section {
    padding: 20px 0 70px 0;
  }
}