.hero.section {
  position: relative;
  padding: 200px 0;
  background: rgba(0, 0, 0, .7) url(../img/hero-img.webp);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  .hero__title {
    height: 100px;
  }
  .hero__heading {
    margin-bottom: 80px;
    color: $--hero_text_color;
  }
  .hero__offer {
    color: $--hero_text_color;
    font-weight: 700;
  }
}