.how-we-work.section {
  padding: 70px 0 0 0;
  .how-we-work__descr {
    margin: 0 auto;
    margin-bottom: 40px;
    @include font-settings (italic, 600, 18px, normal,  $--text_color);
    opacity: 0.8;
  }
  .how-we-work__card {
    display: flex;
  }
  .how-we-work__card-container {
    padding: 10px 5px;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 50%);
    .how-we-work__card-number {
      margin-bottom: 10px;
      @include font-settings (normal, 600, 27px, normal,  $--text_color);
    }
    .how-we-work__card-img {
      height: 250px;
      object-fit: cover;
    }
    .how-we-work__card-content {
      padding: 20px 15px;
      .how-we-work__card-title {
        text-transform: uppercase;
        @include font-settings (normal, 700, 16px, normal,  $--text_color);
      }
      .how-we-work__card-descr {
        @include font-settings (normal, 400, 16px, normal,  $--text_color);
        opacity: .7;
      }
    }
  }
}