.price.section {
  padding: 20px 0 70px 0;
  .price__title {
    margin-bottom: 50px;
  }
  .input-group-text,
  .form-control {
    padding: 4px 10px;
    @include font-settings(normal, 400, 14px, normal, $--text_color);
    background-clip: padding-box;
    border: 1px solid $--counter_input_border_color;
    border-radius: 5px;
  }
  .form-control {
    display: block;
    padding: 4px 10px;
    background-color: #fff;
    transition: color .2s linear, box-shadow .2s linear, border-color .2s linear;
    &:hover {
      border-color:$--counter_input_focus_color;
    }
    &:focus {
      color: $--text_color;
      background-color: #fff;
      outline: 0;
      border-color:$--counter_input_focus_color;
      -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    }
  }
}