.request-modal {
  .request-modal__title {
    @include font-settings (normal, 700, 16px, normal,  $--text_color);
  }
  .request-modal__btn-close {
    background-size: 15px 15px;
    transition: opacity .2s linear;
    &:focus,
    &:focus-visible {
      box-shadow: none;
      opacity: 1;
    }
  }
  .request__form {
    flex-direction: column;
    .request__form-input-container {
      margin-bottom: 10px;
      position: relative;
      flex-direction: column;
      input {
        padding: 4px 10px;
        border: 1px solid $--counter_input_border_color;
        border-radius: 5px;
        @include font-settings(normal, 400, 14px, normal, $--text_color);
        transition: color .2s linear, box-shadow .2s linear, border-color .2s linear;
        &.is-invalid {
          border-color:$--counter_input_focus_color;
          -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(223 89 89 / 60%);
          box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(223 89 89 / 60%);
        }
        &:hover {
          border-color:$--counter_input_focus_color;
        }
        &:focus-visible {
          border-color:$--counter_input_focus_color;
          -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
          box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
        }
      }
      label {
        margin-left: 5px;
        @include font-settings(normal, 600, 16px, normal, $--text_color);
      }
      .just-validate-error-label {
        position: absolute;
        bottom: -17px;
        left: 5px;
        @include font-settings(normal, 400, 12px, normal, $--error_color);
      }
    }
    .phone-container {
      margin-bottom: 25px;
      label {
        &::after {
          content: '*';
          color: #ff0000;
        }
      }
    }
    .request__form-btn {
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 58px;
      border-radius: 5px;
      background: rgb(223,89,89);
      background: -moz-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
      background: -webkit-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
      background: linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
      @include font-settings(normal, 400, 18px, normal, $--counter_btn_text);
      transition: background-color .2s linear, transform .2s linear;
      &:hover,
      &:focus-visible  {
        transform: translateY(-2px);
        background: rgb(223,89,89);
        background: -moz-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(70,0,0,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(70,0,0,1) 100%);
        background: linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(70,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#df5959",endColorstr="#460000",GradientType=1);
      }
      &:active {
        background: rgb(223,89,89);
        background: -moz-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
        background: linear-gradient(180deg, rgba(223,89,89,1) 50%, rgba(252,0,0,1) 100%);
        transform: translateY(0px);
      }
    }
  }
}