.services {
  position: relative;
  .services-bg-bottom {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 50px;
  }
  .services__descr {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 730px;
    @include font-settings (italic, 600, 18px, normal, $--text_color);
    opacity: .8;
  }
  ._service-card ._service-card-container ._service-card-btn {
    left: calc(50% - 90px);
  }
}
