$--text_color: #333;
$--hero_text_color: #fff;
$--hedear_color: #fff;
$--black_color: #000;


$primary_color:#A65CF0;
$primary_color_light: #C998FB;
$primary_color_shade: #7033AC;
$secondary_color: #FF862F;
$secondary_color_light: #FFBD59;
$secondary_color_shade:#BB370E;
$pink_color_light:#F8EFFF;
$pink_color_violet: #EBD1FF;
$red_input_color: #FF6972;
$green_input_color:#B8EC64;
$gold_color:#D5B986;
$white_color: #fff;
$grey_color:#999999;
$grey_color_light: #F7F7F7;
$grey_color_medium: #EAEAEA;
$grey_color_shade: #666666;
$black: #000;
$lime_color:#DAFFD1;
$bone_color:#FFF5D1;