<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  @@if (page === 'about') {
    <meta class="meta" name="description" content ='Информация о компании "Эко-Юга". Круглосуточный вывоз мусора в Краснодаре по доступным ценам, тел: + 7 (918) 418-71-67'>
  }
  @@if (page === 'reviews') {
    <meta class="meta" name="description" content ='Отзывы о компании "Эко-Юга"'>
  }
  @@if (page === 'privacy-policy') {
    <meta class="meta" name="description" content ='Политика конфиденциальности'>
  }
  @@if (page === 'vivoz-stroitelnogo-musora') {
    <meta class="meta" name="description" content ='Вывоз строительного мусора в Краснодаре. Осуществляем вывоз строительного мусора в по всему Краснодарскому краю. "Эко-Юга" - круглосуточный вывоз строительных отходов  по выгодной цене'>
  }
  @@if (page === 'vivoz-bitovogo-musora') {
    <meta class="meta" name="description" content ='Вывоз бытового мусора в Краснодаре. Срочный вывоз мусора по низкой цене от компании "Эко-Юга". Наши грузчики самостоятельно загрузят мусор в автомобиль'>
  }
  @@if (page === 'vivoz-mebeli') {
    <meta class="meta" name="description" content ='Вывоз старой мебели в Краснодаре.  Круглосуточный вывоз мебели  по низкой цене от компании "Эко-Юга". Работаем по всему Краснодарскому краю'>
  }
  @@if (page === 'vivoz-dereva') {
    <meta class="meta" name="description" content ='Вывоз деревьев в Краснодаре. Вывоз дерева , а также древесных отходов: веток, корней, опилок. Работаем круглосуточно и вывозим на утилизацию любые объёмы древесины'>
  }
  @@if (page === 'container') {
    <meta class="meta" name="description" content ='Вывоз мусора контейнером в Краснодаре. В компании "Эко-Юга", Вы можете заказать мусорный контейнер или специализированную технику для вывоза мусора'> 
  }
  @@if (page === 'demontazh') {
    <meta class="meta" name="description" content ='Демонтаж в Краснодаре. Профессиональный демонтаж  сложных конструкций и сооружений. "Эко-Юга" - работаем круглосуточно по всему Краснодарскому краю'>
  }
  @@if (page === 'gruzoperevozki') {
    <meta class="meta" name="description" content ='Грузоперевозки в Краснодаре. Заберём и доставим Ваш груз в любую точку Краснодарского края по низким ценам. "Эко-Юга" -  круглосуточные грузоперевозки'>
  }
  @@if (page === 'gruzchiki') {
    <meta class="meta" name="description" content ='Грузчики в Краснодаре. У нас большой штат сотрудников, которые окажут услуги грузчиков по выгодной цене. Круглосуточный вывоз мусора с грузчиками по всему краю'>
  }
  @@if (page === 'kamaz') {
    <meta class="meta" name="description" content ='Заказать КамАЗ для вывоза мусора в Краснодаре. В нашей компании, Вы можете заказать машину для вывоза мусора, мы предоставляем на выбор газель, камаз, хламовоз'>
  }
  @@if (page === 'konteiner-8') {
    <meta class="meta" name="description" content ='Заказать контейнер 8 кубов для вывоза мусора в Краснодаре. "Эко-Юга" - мы предоставляем мусорный контейнеры по низкой цене с доставкой и вывозом по всему краю'>
  }
  @@if (page === 'konteiner-10') {
    <meta class="meta" name="description" content ='Заказать контейнер 10 кубов для вывоза мусора в Краснодаре. "Эко-Юга" - мы предоставляем мусорный контейнеры по низкой цене с доставкой и вывозом по всему краю'>
  }
  @@if (page === 'konteiner-20') {
    <meta class="meta" name="description" content ='Заказать контейнер 20  кубов для вывоза мусора в Краснодаре. "Эко-Юга" - мы предоставляем мусорный контейнеры по низкой цене с доставкой и вывозом по всему краю'>
  }
  @@if (page === 'konteiner-27') {
    <meta class="meta" name="description" content ='Заказать контейнер 27  кубов для вывоза мусора в Краснодаре. "Эко-Юга" - мы предоставляем мусорный контейнеры по низкой цене с доставкой и вывозом по всему краю'>
  }
  @@if (page === 'lodochka') {
    <meta class="meta" name="description" content ='Заказать лодочку для мусора в Краснодаре. Привезём и заберём лодочку для мусора по низкой цене. Круглосуточный вывоз мусора по всем Краснодарскому краю'>
  }
  @@if (page === 'demontazh-domov') {
    <meta class="meta" name="description" content ='Демонтаж домов в Краснодаре. Наши специалисты качественно выполняют демонтаж зданий точно в срок. Круглосуточный вывоз строительного мусора'>
  }
  @@if (page === 'demontazh-okon') {
    <meta class="meta" name="description" content ='Демонтаж окон в Краснодаре. Наши специалисты качественно выполняют демонтаж дверей точно в срок. Круглосуточный вывоз строительного мусора'>
  }
  @@if (page === 'demontazh-dverei') {
    <meta class="meta" name="description" content ='Демонтаж дверей в Краснодаре. Демонтируем, вывозим и утилизируем старые двери по низкой цене.  "Эко-Юга" - круглосуточный вывоз мусора по всему Краснодарскому краю'>
  }
  @@if (page === 'demontazh-peregorodok-iz-gkl') {
    <meta class="meta" name="description" content ='Демонтаж перегородок из гкл в Краснодаре. Наши специалисты качественно выполняют демонтаж перегородок точно в срок. Круглосуточный вывоз строительного мусора'>
  }
  @@if (page === 'demontazh-peregorodok-iz-kirpicha') {
    <meta class="meta" name="description" content ='Демонтаж перегородок из кирпича в Краснодаре. Наши специалисты качественно выполняют демонтаж перегородок точно в срок. Круглосуточный вывоз строительного мусора'>
  }
  @@if (page === 'demontazh-polov-i-potolkov') {
    <meta class="meta" name="description" content ='Демонтаж пола в Краснодаре. Наши специалисты качественно выполняют демонтаж напольных покрытий точно в срок. Круглосуточный вывоз строительного мусора'>
  }
  @@if (page === 'demontazh-sten') {
    <meta class="meta" name="description" content ='Демонтаж стен в Краснодаре. Предоставляем услуги по демонтажу  перегородок под ключ. Убираем и выносим весь мусор круглосуточно по выгодной цене'>
  }
  @@if (page === 'demontazh-zdaniy') {
    <meta class="meta" name="description" content ='Демонтаж зданий в Краснодаре. Наши специалисты качественно выполняют демонтаж сооружений точно в срок. Круглосуточный вывоз строительного мусора'>
  }
  @@if (page === 'usluga-gruzchikov') {
    <meta class="meta" name="description" content ='Грузчики в Краснодаре. У нас большой штат сотрудников, которые окажут услуги грузчиков по выгодной цене. Круглосуточный вывоз мусора с грузчиками по всему краю'>
  }
  @@if (page === 'gruzoperevozki-po-gorodu') {
    <meta class="meta" name="description" content ='Грузоперевозки по городу в Краснодаре. Заберём и доставим Ваш груз в любую точку Краснодарского края по низким ценам. "Эко-Юга" -  круглосуточные грузоперевозки'>
  }
  @@if (page === 'gruzoperevozki-za-gorodom') {
    <meta class="meta" name="description" content ='Грузоперевозки за городом Краснодара. Заберём и доставим Ваш груз в любую точку Краснодарского края по низким ценам. "Эко-Юга" -  круглосуточные грузоперевозки'>
  }
  @@if (page === 'vivoz-dachnogo-musora') {
    <meta class="meta" name="description" content ='Вывоз дачного мусора в Краснодаре. В компании "Эко-Юга", Вы можете заказать вывоз мусора с участка по выгодной цене. Мы оказываем услуги по вывозу мусора - круглосуточно'>
  }
  @@if (page === 'vivoz-grunta') {
    <meta class="meta" name="description" content ='Вывоз грунта с участка в Краснодаре. Приедем и вывезем грунт с вашего участка по выгодной цене. "Эко-Юга" - круглосуточный вывоз бытового мусора по всему краю'>
  }
  @@if (page === 'vivoz-travi') {
    <meta class="meta" name="description" content ='Вывоз травы в Краснодаре. В компании "Эко-Юга", Вы можете заказать вывоз скошенной травы с участка по всему Краснодарскому краю, работаем круглосуточно'>
  }
  @@if (page === 'vivoz-listev') {
    <meta class="meta" name="description" content ='Вывоз листьев в Краснодаре. В компании "Эко-Юга", Вы можете заказать вывоз скошенной мусора с участка по всему Краснодарскому краю, работаем круглосуточно'>
  }
  @@if (page === 'vivoz-vetok') {
    <meta class="meta" name="description" content ='Вывоз веток в Краснодаре. Если Вам необходимо вывезти ветки с участка, компания "Эко-Юга", поможет избавиться от лишнего мусора. Круглосуточный вывоз мусора'>
  }
  @@if (page === 'vivoz-zemli') {
    <meta class="meta" name="description" content ='Вывоз земли с участка в Краснодаре. В компании "Эко-Юга", Вы можете заказать вывоз земли с погрузкой по выгодной цене. Круглосуточный вывоз бытового мусора'>
  }
  @@if (page === 'vivoz-dosok') {
    <meta class="meta" name="description" content ='Вывоз досок в Краснодаре. Круглосуточный вывоз строительного и бытового мусора по низкой цене в Краснодарском крае. "Эко-Юга" - грузоперевозки и вывоз мусора'>
  }
  @@if (page === 'vivoz-okon') {
    <meta class="meta" name="description" content ='Вывоз старых окон в Краснодаре. Вывозим и утилизируем старые двери и окна по низкой цене.  "Эко-Юга" - круглосуточный вывоз мусора по всему Краснодарскому краю'>
  }
  @@if (page === 'vivoz-dverei') {
    <meta class="meta" name="description" content ='Вывоз дверей в Краснодаре. Вывозим и утилизируем старые двери по низкой цене.  "Эко-Юга" - круглосуточный вывоз мусора по всему Краснодарскому краю'>
  }
  @@if (page === 'vivoz-divanov') {
    <meta class="meta" name="description" content ='В компании "Эко-Юга", Вы можете заказать вывоз старых диванов. Круглосуточный вывоз бытового мусора с грузчиками в Краснодаре и Краснодарском крае'>
  }
  @@if (page === 'vivoz-kresel') {
    <meta class="meta" name="description" content ='В компании "Эко-Юга", Вы можете заказать вывоз старых  кресел. Круглосуточный вывоз бытового мусора с услугами грузчиков в Краснодаре и Краснодарском крае'>
  }
  @@if (page === 'vivoz-staroi-mebeli') {
    <meta class="meta" name="description" content ='Вывоз старой мебели в Краснодаре.  Круглосуточный вывоз мебели  по низкой цене от компании "Эко-Юга". Работаем по всему Краснодарскому краю'>
  }
  @@if (page === 'vivoz-stolov') {
    <meta class="meta" name="description" content ='В компании "Эко-Юга", Вы можете заказать вывоз столов с грузчиками по выгодной цене. Круглосуточный вывоз бытового мусора в Краснодаре и крае'>
  }
  @@if (page === 'vivoz-stulev') {
    <meta class="meta" name="description" content ='В компании "Эко-Юга", Вы можете заказать вывоз стульев с грузчиками по выгодной цене. Круглосуточный вывоз бытового и строительного мусора в Краснодаре и крае'>
  }
  @@if (page === 'armatura') {
    <meta class="meta" name="description" content ='Заказать вывоз арматуры в Краснодаре. В компании "Эко-Юга", Вы можете заказать вывоз арматуры и других строительных материалов по низкой цене, круглосуточно'>
  }
  @@if (page === 'reshetki') {
    <meta class="meta" name="description" content ='Заказать вывоз решетки в Краснодаре. В компании "Эко-Юга", Вы можете заказать срочный вывоз решетки и других строительных материалов по низкой цене, круглосуточно'>
  }
  @@if (page === 'beton') {
    <meta class="meta" name="description" content ='Вывоз бетонного боя в Краснодаре и Краснодарском крае. Компания "Эко-Юга", осуществляет вывоз бетона по низкой цене по всему краю. Круглосуточный вывоз мусора'>
  }
  @@if (page === 'karton') {
    <meta class="meta" name="description" content ='Заказать вывоз катрана в Краснодаре. Круглосуточный вывоз строительных отходов, картона, бумаги, коробок и других материалов по выгодной цене от  компании "Эко-Юга"'>
  }
  @@if (page === 'pesok') {
    <meta class="meta" name="description" content ='Вывоз песка в Краснодаре. Мы осуществляем вывоз песка специализированным транспортом по выгодной цене. Круглосуточный вывоз строительных отходов'>
  }
  @@if (page === 'kirpich') {
    <meta class="meta" name="description" content ='Вывоз кирпича в Краснодаре. Мы осуществляем бой и вывоз бетона, вывоз кирпича по выгодной цене. Круглосуточный вывоз строительных отходов'>
  }
  @@if (page === 'plenka') {
    <meta class="meta" name="description" content ='Вывоз пленки в Краснодаре. В компании  "Эко-Юга", Вы можете заказать вывоз полиэтилена по низкой цене. Круглосуточный вывоз строительного мусора по всему краю'>
  }
  @@if (page === 'plitka') {
    <meta class="meta" name="description" content ='Демонтаж и вывоз плитки. Компания "Эко-Юга", предоставляет услуги вывоза керамической плитки по низкой цене в Краснодаре. Круглосуточный вывоз строительного мусора'>
  }
  @@if (page === 'vanni') {
    <meta class="meta" name="description" content ='Заказать вывоз ванной в Краснодаре. Вывоз сантехники по низкой цене. Круглосуточный вывоз бытового и строительного мусора в компании   "Эко-Юга"'>
  }
  @@if (page === 'vivoz-meshkov') {
    <meta class="meta" name="description" content ='Вывоз мешков мусора в Краснодаре. В компании "Эко-Юга", Вы можете заказать вывоз строительного мусора в мешках по низкой цене. Круглосуточный вывоз мусора'>
  }
  @@if (page === 'vivoz-metalla') {
    <meta class="meta" name="description" content ='Вывоз металла в Краснодаре. Самостоятельно загрузим и вывезем лом металла по выгодной цене. Компания "Эко-Юга" - круглосуточный вывоз строительных отходов'>
  }
  @@if (page === 'vivoz-stekla') {
    <meta class="meta" name="description" content ='Вывоз стекла в Краснодаре. Вывезем битое стекло по низкой цене. В компании "Эко-Юга", Вы можете заказать вывоз бытового и строительного мусора, работаем круглосуточно'>
  }
  @@if (page === 'vivoz-tbo') {
    <meta class="meta" name="description" content ='Вывоз тбо в Краснодаре. Заказать вывоз бытового и строительного мусора по выгодной цене от компании "Эко-Юга", работаем круглосуточно'>
  }
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
  <link rel="manifest" href="../img/favicons/site.webmanifest">
  <link rel="mask-icon" href="../img/favicons/safari-pinned-tab.svg" color="#ff5200">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
  <!-- fonts -->
  <link rel="preload" href="../fonts/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/OpenSans-Bold.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="../fonts/OpenSans-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/OpenSans-ExtraBold.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="../fonts/OpenSans-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/OpenSans-Light.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="../fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/OpenSans-Regular.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="../fonts/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/OpenSans-SemiBold.woff" as="font" type="font/woff" crossorigin>
  <!-- swiper -->
  <link rel="stylesheet" href="../styles/swiper-bundle.min.css">

  <!-- styles -->
  <link rel="stylesheet" href="../styles/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/normalize.min.css">
  <link rel="stylesheet" href="../styles/style.min.css">
  <link rel="stylesheet" href="../styles/media.min.css">
  <title>@@title</title>

  <!-- Yandex.Metrika counter --> 
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; 
    m[i].l=1*new Date(); 
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} 
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) 
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); 

    ym(93183406, "init", { 
      clickmap:true, 
      trackLinks:true, 
      accurateTrackBounce:true, 
      webvisor:true 
    }); 
  </script> 
  <noscript><div><img src="https://mc.yandex.ru/watch/93183406" style="position:absolute; left:-9999px;" alt="" /></div></noscript> 
  <!-- /Yandex.Metrika counter -->
</head>